html,
body {
  padding: 0;
  margin: 0;
  background-color: #d9e4dd;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
  min-width: 35em;
  overflow: visible;
}

hr {
  color: #cdc9c3;
  opacity: 0.5;
}

a {
  color: inherit;
  text-decoration: none;
}

h2 > a:hover {
  color: #b9cced;
}

li > a:hover {
  color: #b9cced;
}

p > a:hover {
  color: #b9cced;
}

* {
  box-sizing: border-box;
}

#main-nav {
  display: flex;
  flex-direction: row;
  padding: 2rem 1rem;
  gap: 1rem;
  justify-content: center;
  background-color: #f8f0df;
  color: #eeeeee;
}

.main-nav-link {
  margin: 0 1rem;
  cursor: pointer;
  font-family: 'Comfortaa', cursive;
  font-size: 1rem;
}

.mobile-nav-toggle {
  display: none;
}

@media (max-width: 35em) {
  #main-nav {
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;

    background: rgb(46, 53, 63, 0.5);
    backdrop-filter: blur(0.5rem);
    flex-direction: column;
    padding: min(30vh, 10rem) 2em;

    /* transform: translateX(100%); */
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 9999;
  }
}

@supports (backdrop-filter: blur(0.5rem)) {
  .main-nav {
    background: rgb(46, 53, 63, 0.75);
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 0rem;
  padding: 0px 16px;
  border-radius: 8px;
  color: #eeeeee;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 12rem;
  padding: 100px 200px;
  background-color: #fbf7f0;
  border-radius: 8px;
  color: #292e31;
  width: calc(100% - 24rem);
  min-width: 70em;
}

.page-content {
  width: calc(100% - 6rem);
}

.page-menu-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.main-header {
  color: #555555;
  font-family: 'Lato', sans-serif;
  font-size: 56px;
  margin: 0px;
}

.menu-link {
  cursor: pointer;
  margin: 8px;
  font-size: 24px;
}

.menu-link:hover {
  color: #b9cced;
}

.syntax-highlighter {
  border-radius: 4px;
}

.iframe-container {
  background: url(../assets/Cube-1s-120px.gif) center center no-repeat;
}
